<component name="libraryTable">
  <library name="Gradle: androidx.fragment:fragment:1.3.6@aar">
    <ANNOTATIONS>
      <root url="jar://$USER_HOME$/.gradle/caches/transforms-3/ced132bf9fc06842b5819ef6e28ee688/transformed/
# Project exclude paths
/.gradle/